/*
 * Styles are apparently based on something copied from something based on the WB formatting style.
 *
 * Metrics as follows (non-nested; blocks in reality will be nested):
 *   Page width 8.5"
 *   Page margins: 1"
 *   	margin-left: 1.5" for hole punch
 *
 *   Slug lines (actions): indent 0
 *   Dialogue blocks: indent left 1", indent right 1.5"
 *   Speaker lines: indent left 2"
 *   Parentheticals within dialog: indent left 1.5", indent right 2"
 *   Scenes transitions: indent left 4" (not implemented here)
 *
 *   Shot headings: 2 blank lines preceding
 *   Other slugs and dialog blocks: 1 blank line preceding
 */

.screenplay {
	/* Content 6" after margins; 1" = ~13.75ex */
	width: 82.5ex;
	/*
	 * Lessen page margins because the skin should already include these;
	 * Ignore extra left margin here because we obviously don't have holes punched on the screen
	 * margin: 13.75ex; would be correct, but it unnecessary because the skin already has padding
	 */
	margin: 2em auto;
	/*
	 * Courier is standard, but doesn't play nice with Windows renderers
	 * Double monospace to avoid some browser bugs which make the font render tiny
	 */
	font-family: monospace, monospace;
	/*
	 * font-size: 1.12ex; would be correct, but let's not because it's much too small on the screen.
	 * Font is often too big, though this depends entirely on how the skin set the content font.
	 */
	font-size: 95%;
	line-height: 1.25;
}

.sp-shot-heading {
	/* 2 blank lines preceding */
	margin-top: 4ex;
	text-transform: uppercase;
	/* Not part of the spec, but helps readability online */
	font-weight: bold;
}

.sp-line {
	/* right margin: 1.5", left margin: 1" */
	margin: 0 20.625ex 0 13.75ex;
}
	.sp-speaker {
		/* left margin: 2" - 1"
		* Add right margin to handle stupidly long names: .5" */
		margin: 0 6.875ex 0 13.75ex;
	}
	.sp-paren {
		/* right margin: 2" - 1.5", left margin: 1.5 - 1" */
		margin: 0 13.75ex 0 6.875ex;
	}
	.sp-dialogue {
		/* Add some extra spacing because this is bothering me */
		margin: .3ex 0;
	}

.sp-line,
.sp-slug {
	/* 1 blank line preceding */
	 margin-top: 2ex;
}
